{%extends 'base.html'%} {%block 'titulo'%}Cadastro de clientes{%endblock%} {%block 'conteudo'%}
<div class="container">
  <h2>Cadastro de clientes</h2>

  <form method="post" action="{% url 'insere_cliente' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        id="nome"
        class="form-control"
        type="text"
        placeholder="Digite seu nome completo"
        name="nome"
      />
    </div>
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
        id="cpf"
        class="form-control"
        type="text"
        placeholder="Digite seu CPF, apenas numeros"
        name="cpf"
        maxlength="11"
      />
    </div>
    <div class="form-group">
      <label for="tel">Telefone</label>
      <input
        id="tel"
        class="form-control"
        type="text"
        placeholder="Digite seu telefone"
        name="telefone"
      />
    </div>
    <div class="form-group pb-5">
      <label for="email">Email</label>
      <input
        id="email"
        class="form-control"
        type="text"
        placeholder="Digite seu email"
        name="email"
      />
    </div>
    <div class="form-group pb-5">
      <label for="profi">Profissão</label>
      <input
        id="profi"
        class="form-control"
        type="text"
        placeholder="Qual a sua profissão?"
        name="profi"
      />
    </div>
    <div class="form-group">
      <button class="form-control btn btn-danger" type="subimit">Salvar</button>
    </div>
  </form>
</div>
{%endblock%}
