@mixin flex_layout($dir, $justify) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: center;
}
@mixin background() {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
}

.landing {
  height: 830px;
  width: 100%;
  animation: background 20s infinite;
  p,
  h2 {
    color: #fff;
    font-weight: 400;
  }
  a{
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .5s;
  }
  a:hover{
    transition: all .5s;
    background: rgba(0, 0, 0, 0.7);
  }
  @include background();
  @include flex_layout(column, center);
}

.description {
  @include flex_layout(column, center);
}

@keyframes background {
  0%,
  100% {
    @include background();
  }
  25% {
    @include background();
  }
  50% {
    @include background();
  }
  75% {
    @include background();
  }
}
