@mixin flex_layout($dir, $justify) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: center;
}

.shadow {
  height: 60%;
  width: 100%;
  color: rgba(0, 0, 0, 0.43);
}

.landing img {
  height: 100%;
  width: 100%;
}
