{%extends 'base.html'%} 

{% load static %}

{%block 'titulo'%}Cadastro de clientes{%endblock%} 

{%block 'conteudo'%}
<style>
  .form-body{
    background-image: url("{% static 'images/hall.jpg' %}");
  }
</style>
<body class="form-body">
  <div class="container">
    <a class="btn btn-success" href="{% url 'adm' %}" style="float: right; margin-top: 20px;">Voltar</a>
    <h2>Cadastro de clientes</h2>
    
    <form method="post" onsubmit="success()" action="{% url 'insere_cliente' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
        id="nome"
        class="form-control"
        type="text"
        placeholder="Digite seu nome completo"
        name="nome"
        maxlength="40"
        onkeypress="return words()"
        required
        />
      </div>
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input
        id="cpf"
        class="form-control"
        type="text"
        placeholder="Digite seu CPF, apenas numeros"
        name="cpf"
        maxlength="11"
        onkeypress="return numbers()"
        required
        />
      </div>
      <div class="form-group">
        <label for="tel">Telefone</label>
        <input
        id="tel"
        class="form-control"
        type="text"
        placeholder="Digite seu telefone"
        name="telefone"
        maxlength="10"
        onkeypress="return numbers()"
        required
        />
      </div>
      <div class="form-group">
        <label for="profi">Profissão</label>
        <input
        id="profi"
        class="form-control"
        type="text"
        placeholder="Qual a sua profissão?"
        name="profi"
        maxlength="20"
        onkeypress="return words()"
        required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
        id="email"
        class="form-control"
        type="text"
        placeholder="Digite seu email"
        name="email"
        maxlength="30"
        required
        />
      </div>
      <div class="form-group pb-5">
        <label for="senha">Senha</label>
        <input
        id="senha"
        class="form-control"
        type="password"
        placeholder="Crie aqui sua senha"
        name="senha"
        required
        />
      </div>
      <div class="form-group">
        <button class="form-control btn btn-success" type="subimit">Salvar</button>
      </div>
    </form>
  </div>
</body>
{%endblock%}
  