{%extends 'base.html'%} 

{% load static %}

{%block 'titulo'%}Editar Cliente{%endblock%}

{%block 'conteudo'%}
<style>
  .form-body{
    background-image: url("{% static 'images/hall.jpg' %}");
  }
</style>


<body class="form-body">
  <div class="container">
    <a class="btn btn-success" href="{% url 'adm' %}" style="float: right; margin-top: 20px;">Voltar</a>
    <h2>Editar Cliente</h2>
    
    <form method="post" action="{% url 'editar_adm' %}">

      {% csrf_token %}
      {% for dados in listaEdita%}
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
        id="nome"
        class="form-control"
        type="text"
        value="{{dados.nome}}"
        name="nome"
        />
      </div>
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input
        id="cpf"
        class="form-control"
        type="text"
        value="{{dados.cpf}}"
        name="cpf"
        maxlength="11"
        />
      </div>
      <div class="form-group">
        <label for="tel">Telefone</label>
        <input
        id="tel"
        class="form-control"
        type="text"
        value="{{dados.telefone}}"
        name="telefone"
        />
      </div>
      <div class="form-group">
        <label for="profi">Profissão</label>
        <input
        id="profi"
        class="form-control"
        type="text"
        value="{{dados.profissao}}"
        name="profi"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
        id="email"
        class="form-control"
        type="text"
        value="{{dados.email}}"
        name="email"
        />
      </div>
      <div class="form-group pb-5">
        <label for="senha">Senha</label>
        <input
        id="senha"
        class="form-control"
        type="text"
        value="{{dados.senha}}"
        name="senha"
        />
      </div>

      <div class="form-group">
        <button class="form-control btn btn-danger" type="subimit" id="salva" name="salva"  value="{{dados.id}}" >Salvar</button>
      </div>
      {% endfor %}
    </form>
  </div>
</body>
{%endblock%}
  