{%extends 'base.html'%} 

{% load static %}

{%block 'titulo'%}Editar Cliente{%endblock%}

{%block 'conteudo'%}
<style>
  .form-body{
    background-image: url("{% static 'images/hall.jpg' %}");
  }
</style>


<body class="form-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">HOTEL TRIVAGO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#footer">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'form_cliente' %}">Cadastrar</a>
          </li>
          <li class="nav-item" id="responsive">
            <a class="nav-link" href="{% url 'editar_adm' %}">Editar Meu Perfil</a>
          </li>
        </ul>
        <span class="navbar-text" href="{% url 'editar_adm' %}" id="profile">
          <i class="far fa-user-circle"></i>
        </span>
      </div>
    </div>
  </nav>
  <div class="container">
    <a class="btn btn-success" href="{% url 'adm' %}" style="float: right; margin-top: 20px;">Voltar</a>
    <h2>Editar Cliente</h2>
    
    <form method="post" action="{% url 'editar_adm' %}">

      {% csrf_token %}
      {% for dados in listaEdita%}
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
        id="nome"
        class="form-control"
        type="text"
        value="{{dados.nome}}"
        name="nome"
        maxlength="40"
        onkeypress="return words()"
        required
        />
      </div>
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input
        id="cpf"
        class="form-control"
        type="text"
        value="{{dados.cpf}}"
        name="cpf"
        maxlength="11"
        onkeypress="return numbers()"
        required
        />
      </div>
      <div class="form-group">
        <label for="tel">Telefone</label>
        <input
        id="tel"
        class="form-control"
        type="text"
        value="{{dados.telefone}}"
        name="telefone"
        maxlength="10"
        onkeypress="return numbers()"
        required
        />
      </div>
      <div class="form-group">
        <label for="profi">Profissão</label>
        <input
        id="profi"
        class="form-control"
        type="text"
        value="{{dados.profissao}}"
        name="profi"
        maxlength="20"
        onkeypress="return words()"
        required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
        id="email"
        class="form-control"
        type="email"
        value="{{dados.email}}"
        name="email"
        maxlength="30"
        required
        />
      </div>
      <div class="form-group pb-5">
        <label for="senha">Senha</label>
        <input
        id="senha"
        class="form-control"
        type="text"
        value="{{dados.senha}}"
        name="senha"
        />
      </div>

      <div class="form-group">
        <button class="form-control btn btn-success" type="subimit" id="salva" name="salva"  value="{{dados.id}}" >Salvar</button>
      </div>
      {% endfor %}
    </form>
  </div>
</body>
{%endblock%}
  